.article-1 {
  background-color: #FF335C;
  color: #fff;
  margin-top: 90px;
  padding: 40px;
  padding-left: 80px;
  padding-right: 80px;
}
.article-2 {
  background-color: #CCE6F4;
  margin-top: 90px;
  padding: 40px;
  padding-left: 180px;
  padding-right: 180px;
}
.article-3 {
  background-color: #4BA3C3;
  color: #fff;
  margin-top: 90px;
  padding: 40px;
}
#navbar {
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 20px;
  font-family: 'Noto Serif', serif;	display: flex;
  font-size: 20px;
}
.navbar-brand {
  font-size: 30px;
}
h1 {
  font-family: 'Noto Serif', serif;	display: flex;
  font-weight: bold;
}
h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
